html {
  box-sizing: border-box;
  overflow: hidden;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  font-family: century-gothic, sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #000;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  overflow-x: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  // background-image: url(../images/bg.svg);
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-position: center;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
}

.container-fluid {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

@media (max-width: 720px) {
  .container-fluid {
    padding: 0px 15px;
  }
}